.bike {
  display: flex;
  flex-direction: column;

  &__photo {
    display: block;
    margin: 0 auto 32px;
    width: 100%;
    height: auto;

    transition: $transition;

    &:hover {
      transform: $transform-img;
    }
  }

  &__subtitle {
    @extend %section-subtitle;
  }

  &__paragraph {
    @extend %section-paragraph;
    
    flex-grow: 1;
    margin: 8px 0 16px;
  }

  &__price {
    @extend %section-subtitle;
  }
}
